<% form_for @share, "/shares/#{@share.id}", :class => 'form-horizontal row' do |f| %>
  <%= hidden_form_method_field('put') if f.object.persisted? %>

  <div class="col-12">
    <%= error_messages_for(@share) %>
  </div>

  <%= form_group(f, :name) %>
  <%= form_group(f, :description) %>

  <%= form_group_submit(f) %>
<% end %>
