<div class="header row">
  <div class="col-md-6">
    <h2><%= @title %></h2>
  </div>
  <div class="col-md-6 text-right">
    <small class="text-muted">Checked yesterday with no errors</small>
    <a href="#" class="btn btn-primary btn-small">Check Parity</a>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Device</th>
    <th>Temp</th>
    <th>Size</th>
    <th>Errors</th>
  </tr>

  <% @disks.each do |disk| %>
    <tr class="<%= "text-muted" unless spinning?(disk) %>">
      <td>
        <%= spinning_icon(disk) %>
      </td>
      <td>
        <strong><%= disk[0] %></strong> <%= device(disk) %><br>
        <small class="text-muted"><%= disk[1]['id'] %></small>
      </td>
      <td><%= temp(disk) %></td>
      <td><%= size(disk) %></td>
      <td><%= disk[1]['numErrors'] %></td>
    </tr>

  <% end %>
</table>
