<div class="header row">
  <div class="col-md-6">
    <h2><%= @title %></h2>
  </div>
</div>

<table class="table table-striped" id="disks">
  <tr>
    <th></th>
    <th>Device</th>
    <th>Temp</th>
    <th>Size</th>
    <th>Read Errors</th>
  </tr>

  <% @disks.each do |disk| %>
    <tr class="<%= "text-muted" unless disk.spinning? %>">
      <td>
        <%= state_icon(disk) %>
      </td>
      <td>
        <strong><%= disk.name %></strong> <%= formatted_device disk.device %><br>

        <% if disk.flash? or Boxcar::Array.started? %>
          <small class="text-muted"><%= disk.id %></small>
        <% else %>
          <%= select_for 'disk_ids', disk_ids_for_select %>
        <% end %>

      </td>
      <td><%= number_to_temp disk.temp %></td>
      <td><%= humanize_size disk.size %></td>
      <td><%= disk.read_errors %></td>
    </tr>

  <% end %>
</table>
