<% form_for @user, "/users/#{@user.id}", :class => 'form-horizontal row' do |f| %>
  <%= hidden_form_method_field('put') if f.object.persisted? %>

  <div class="col-12">
    <%= error_messages_for(@user) %>
  </div>

  <%= form_group(f, :username) %>
  <%= form_group(f, :password, :password_field) %>
  <%#= form_group(f, :password_confirmation, :password_field) %>
  <%= form_group(f, :description) %>

  <%= form_group_submit(f) %>
<% end %>
