<div id="footer">
  <div class="row">
    <div class="col-md-6">
      <small>
        <span class="server"><%= @system.hostname %> - <%= @system.ip %></span><br>
        <span class="uptime"><%= @system.uptime %></span><br>
        <span class="version">unRAID <%= @system.unraid_version %></span>
      </small>
    </div>

    <div class="col-md-6 text-right">
      <small>
        Boxcar <%= Boxcar::VERSION %> <br>
        <a href="https://github.com/nicinabox/boxcar/issues" target="_blank">
          Report a bug
        </a>
      </small>
    </div>

  </div>
</div>
