<div id="header">
  <%= partial :'shared/power_controls' %>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">unRAID</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li class="<%= active_for('/') %>"><a href="/">Dashboard</a></li>
      <li class="<%= active_for('/disks', :starts) %>"><a href="/disks">Disks</a></li>
      <li class="<%= active_for('/users', :starts) %>"><a href="/users">Users</a></li>
    </ul>

    <%= partial :'shared/array_controls' %>
  </nav>

  <%= partial :'shared/flash' %>

</div>
