<div id="header">
  <div id="power-controls" class="clearfix">
    <a href="#" class="btn btn-link pull-right">
      <i class="icon-power-off"></i> Power
    </a>

    <div class="btn-group pull-right">
      <a href="#" class="btn btn-link">
        <i class="icon-chevron-up"></i> Spin Up
      </a>
      <a href="#" class="btn btn-link">
        <i class="icon-chevron-down"></i> Spin Down
      </a>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-brand">
      <a href="/">unRAID</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= active_for('/') %>"><a href="/">Dashboard</a></li>
      <li class="<%= active_for('/disks', :starts) %>"><a href="/disks">Disks</a></li>
      <li class="<%= active_for('/shares', :starts) %>"><a href="/shares">Shares</a></li>
      <li class="<%= active_for('/users', :starts) %>"><a href="/users">Users</a></li>
      <li class="<%= active_for('/utilities', :starts) %>"><a href="/utilities">Utilities</a></li>
      <li class="<%= active_for('/settings', :starts) %>"><a href="/settings">Settings</a></li>
    </ul>

    <div id="array-controls" class="pull-right">
      <button type="button" id="stop-array" class="btn btn-danger navbar-btn hide" data-loading-text="Stopping...">
        <i class="icon-exclamation-sign"></i> Stop Array
      </button>
      <button type="button" id="start-array" class="btn btn-success navbar-btn" data-loading-text="Starting...">
        <i class="icon-cloud"></i> Start Array
      </button>
    </div>
  </div>

  <%= partial :'shared/flash' %>

</div>
