<div class="header row">
  <div class="col-lg-12">
    <h2><%= @title %></h2>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#disk-stats" data-toggle="tab">Disk Stats</a></li>
  <li><a href="#system-stats" data-toggle="tab">System Stats</a></li>
</ul>

<div class="tab-content">
  <div class="row tab-pane active" id="disk-stats">
    <div class="col-md-12">

      <div class="progress" data-toggle="tooltip" title="<%= humanize_size @stats[:total_size] %>" data-placement="right" style="width: 90%">

        <div data-toggle="tooltip" data-placement="bottom" title="<%= humanize_size @stats[:parity_size] %> Parity" class="progress-bar progress-bar-info" style="width: <%= number_to_percentage @stats[:percent_parity] %>"></div>

        <div data-toggle="tooltip" data-placement="bottom" title="<%= humanize_size @stats[:used_space] %> Used" class="progress-bar" style="width: <%= number_to_percentage (@stats[:percent_used] - @stats[:percent_parity]) %>;"></div>
      </div>

    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= humanize_size @stats[:total_size] %></strong>
          <small class="text-muted">Array size</small>
        </li>
        <li class="list-group-item">
          <strong><%= humanize_size @stats[:parity_size] %></strong>
          <small class="text-muted">Parity size</small>
        </li>
        <li class="list-group-item">
          <strong><%= humanize_size @stats[:usable_size] %></strong>
          <small class="text-muted">Usable size</small>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>
            <%= humanize_size @stats[:used_space] %>
          </strong>
          (<%= number_to_percentage @stats[:percent_used] %>)
          <small class="text-muted">Used space</small>
        </li>
        <li class="list-group-item">
          <strong>
            <%= humanize_size @stats[:free_space] %>
          </strong>
          (<%= number_to_percentage @stats[:percent_free] %>)
          <small class="text-muted">Free space</small>
        </li>
      </ul>
    </div>
  </div>

  <div class="row tab-pane" id="system-stats">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">Processor</div>
        [graph]
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">Memory</div>
        [graph]
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">Network</div>
        [graph]
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">Storage</div>
        [graph]
      </div>
    </div>
  </div>
</div>

