<div class="header row">
  <div class="col-lg-12">
    <h2><%= @title %></h2>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#disk-stats" data-toggle="tab">Disk Stats</a></li>
</ul>

<div class="tab-content">
  <div class="row tab-pane active" id="disk-stats">
    <div class="col-md-12">

      <div class="progress" data-toggle="tooltip" title="<%= humanize_size @stats[:total_size] %> Total" data-placement="top">

        <div data-toggle="tooltip"
             data-placement="bottom"
             title="<%= number_to_percentage @stats[:percent_parity] %> Parity"
             class="progress-bar progress-bar-parity"
             style="width: <%= number_to_percentage @stats[:percent_parity], :precision => 3 %>"></div>

        <div data-toggle="tooltip"
             data-placement="bottom"
             title="<%= number_to_percentage @stats[:percent_cache] %> Cache"
             class="progress-bar progress-bar-cache"
             style="width: <%= number_to_percentage @stats[:percent_cache], :precision => 3 %>"></div>

        <div data-toggle="tooltip"
             data-placement="bottom"
             title="<%= number_to_percentage @stats[:percent_used_of_total] %> Array Used"
             class="progress-bar progress-bar-used"
             style="width: <%= number_to_percentage @stats[:percent_used_of_total], :precision => 3 %>;"></div>

        <div data-toggle="tooltip"
             data-placement="bottom"
             title="<%= number_to_percentage @stats[:percent_free_of_total] %> Array Free"
             class="progress-bar progress-bar-free"
             style="width: <%= number_to_percentage @stats[:percent_free_of_total], :precision => 3 %>;"></div>
      </div>

    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= humanize_size @stats[:total_size] %></strong>
          <small class="text-muted">Array</small>
        </li>
        <li class="list-group-item">
          <strong><%= humanize_size @stats[:parity_size] %></strong>
          <small class="text-muted">Parity</small>
        </li>
        <% if @stats[:cache_size] > 0 %>
          <li class="list-group-item">
            <strong><%= humanize_size @stats[:cache_size] %></strong>
            <small class="text-muted">Cache</small>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= humanize_size @stats[:usable_size] %></strong>
          <small class="text-muted">Usable</small>
        </li>
        <li class="list-group-item">
          <strong>
            <%= humanize_size @stats[:used_space] %>
          </strong>
          (<%= number_to_percentage @stats[:percent_used] %>)
          <small class="text-muted">Used</small>
        </li>
        <li class="list-group-item">
          <strong>
            <%= humanize_size @stats[:free_space] %>
          </strong>
          (<%= number_to_percentage @stats[:percent_free] %>)
          <small class="text-muted">Free</small>
        </li>
      </ul>
    </div>
  </div>
</div>

