<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%= partial :'shared/head' %>
</head>
<body>
  <!--[if lt IE 8]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser</a>, the web is beautiful.</p>
  <![endif]-->

  <div id="root">
    <%= partial :'shared/header' %>

    <div id="main" class="container">
      <%= yield %>
    </div>

    <%= partial :'shared/footer' %>
  </div>

  <%= partial :'shared/power_modal' %>
</body>
</html>
